# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


# OSX
#
.DS_Store

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# local env files
.env.local

# vercel
.vercel

#etc
.publish
.sass-cache
.asset-cache
_serverless/lib/

# PWA files
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/sw.js.map
**/public/workbox-*.js.map
**/public/worker-*.js.map
